{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "Rotate Left",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Slot1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot3",
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot4",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot5",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot6",
      "KeyboardCode": "6",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot7",
      "KeyboardCode": "7",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot8",
      "KeyboardCode": "8",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot9",
      "KeyboardCode": "9",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot0",
      "KeyboardCode": "0",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "SlotPrev",
      "KeyboardCode": "mouse4",
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "SlotNext",
      "KeyboardCode": "mouse5",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Drop",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Flashlight",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth",
      "GroupName": "Other"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Rotate Right",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Line backward",
      "KeyboardCode": "j",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Line right",
      "KeyboardCode": "k",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Line left",
      "KeyboardCode": "h",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Line forward",
      "KeyboardCode": "u",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "FOV up",
      "KeyboardCode": "t",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "FOV down",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "up",
      "KeyboardCode": "space",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "down",
      "KeyboardCode": "shift",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "NORMAL forward",
      "KeyboardCode": "o",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "NORMAL backward",
      "KeyboardCode": "l",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Escape to menu",
      "KeyboardCode": "end",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Speed up",
      "KeyboardCode": "m",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Speed down",
      "KeyboardCode": "n",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Switch Function",
      "KeyboardCode": "p",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Set Point",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Switch Point Mode",
      "KeyboardCode": "6",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "bddbc071-0535-4ad9-b799-7e6e23fd90ce",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}